{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'blog/css/blog.css'%}">
    <title>{{title}}</title>
</head>
<body>
<header>
    <div class="nav_content">
        <nav>
            <ul>
                <li><a href="{% url 'main' %}">Главная страница</a></li>
                <li><a href="{% url 'blog' %}">К записям</a></li>
                <li><a href="/admin/">Aдминка</a></li>
                <li><a href="{% url 'about' %}">О нас</a></li>
                <li><a href="{% url 'add' %}">Добавить запись</a></li>

            </ul>
        </nav>
    </div>

</header>
<main>
    <div class="category_content">
        <ul>
            <li>

            </li>
            {% for category in categories %}
            <li>
                <a href="{{category.get_absolute_url}}">{{category}}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% block content %}
    {% endblock %}
</main>

</body>
</html>